<%=render partial: 'posts/header' %>

<div class="col-sm-6 mx-auto mt-5">
  <div class="card-body">
    <h3 class="mt-1 mb-5">プロフィール編集<hr>
    </h3>

    <div >
      <%= form_with model: @user, url:user_path, class:"form-user-edit mb-2", local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

        <div class="from-group mb-4">
          <%= f.label :image, "画像", class: "form-label" %><br />
          <%=f.file_field :image, id:"user-image" %>
        </div>

          <div class="from-group mb-4"> 
            <%= f.label :nickname, "ニックネーム", class: "form-label"%><em>(20文字以内）</em><br />
            <%=f.text_field :nickname, class: "form-control", id:"nickname", autofocus: true, maxlength: "20" %>
          </div>

          <div class="from-group mb-4">
            <%= f.label :email, "Eメール", class: "form-label" %><br />
            <%= f.email_field :email, class: "form-control", id:"email", autocomplete: "email" %>
          </div>

          <div class="from-group mb-4">
            <%= f.label :introduction, "紹介文", class: "form-label" %><br />
            <%=f.text_area :introduction, class: "form-control", id:"user-introduction", size: "90x5", maxlength: "1000", placeholder: "紹介文を書く"%>
          </div>

          <div class="from-group mb-4">
            <%= f.label :tag_list, "お気に入りスポット", class: "form-label" %><br />
            <%=f.text_field :tag_list, value: @user.tag_list.join(','), class: "form-control",id:"user-tag-list", maxlength: "200", placeholder: "お気に入りのスポットを追加" %>
               <%# size: "90",maxlength: "200", placeholder: "お気に入りのスポットを書く"%>
          <ul id="myTags"></ul>

          
        </div>
          </div>

        <div class="actions">
          <%=f.submit "送信", class: "mt-5 btn btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
    <div class="accpount-destroy">
      <%= link_to "アカウントを削除する", user_path(@user.id), method: :delete, data:{confirm: "本当にアカウントを削除しますか？"}, class:"account-delete"%>
    </div>
  </div>
</div>
<%= render partial: 'posts/footer'%>