<%= form_with model: post, url:posts_path,local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

        <div class="img-upload">
          <div class="weight-bold-text">
              画像
            </div>
          <%=f.file_field :image, class:"post-text",id:"post-image" %>
        </div>

        <div class="post-form">
          <div class="weight-bold-text">
            名前
          </div>
          <%=f.text_field :name, class:"post-text", id:"post-name", placeholder: "名前を入れてください",maxlength: "20"%>   
        </div>

        <div class="post-form">
          <div class="weight-bold-text">
            場所
          </div>
          <%=f.collection_select(:prefecture_id,Prefecture.all, :id,:name, {}, {class:"post-text",id:"post-prefecture"}) %>   
        </div>

        <%# API参照記事 %>
        <div class="post-form">
          <div class="weight-bold-text">
            Google Map
          </div>
          <%=f.text_field :address, class:"post-text", id:"post-address", placeholder: "Google Mapの住所をコピーして貼り付けてください" %>   
        </div>
        <%# API参照記事 %>

        <div class="post-form">
          <div class="weight-bold-text">
            参考url
          </div>
          <%=f.text_area :url, class:"post-text",id:"post-url",placeholder: "urlを入れてください"%>   
        </div>

        <div class="post-form">
          <%# <div class="weight-bold-text"> %>
          <%= f.label :tag_list, "タグ付", class: "form-label"%><em>(複数可（,)で区切れます）</em><br />
          <%# </div> %>
          <%=f.text_field :tag_list, value: @post.tag_list.join(','), class: "form-control",id:"post-tag-list", placeholder: "タグを追加してください" %>   
          <ul id="myTags"></ul>

          <%# <p>テスト</p>
          <script type="text/javascript">
            $(document).ready(function() {
              $("p").text("成功！！");
            });
          </script> %>

          <%# <script script src="javascript/tag-it.js" type="text/javascript">
                    $(document).ready(function() {
            $("#myTags").tagit({  // 指定のセレクタ( 今回は、:tag_list の text_field )に、tag-itを反映
              tagLimit:10,         // タグの最大数
              singleField: true,   // タグの一意性
          // availableTags: ['ruby', 'rails', ..]  自動補完する一覧を設定できる(※ 配列ならok)。今回は、Ajax通信でDBの値を渡す(後述)。
            });
            let tag_count = 10 - $(".tagit-choice").length    // 登録済みのタグを数える
            $(".ui-widget-content.ui-autocomplete-input").attr(
              'placeholder','あと' + tag_count + '個登録できます');
          })

          // タグ入力で、placeholder を変更
          $(document).on("keyup", '.tagit', function() {
            let tag_count = 10 - $(".tagit-choice").length    // ↑ と同じなので、まとめた方がいい。
            $(".ui-widget-content.ui-autocomplete-input").attr(
            'placeholder','あと' + tag_count + '個登録できます');
          });

            // 参:placeholderの書き換え方法
              $(".input").attr('placeholder','書き換え後のテキスト');
            // 参:placeholderの削除方法
              $(".input").removeAttr('placeholder');
                  // $(document).ready(
                  //     function(){
                  //         $("#myTags").tagit({
                  //             singleField: true,
                  //           //自動補完するワードを設定
                  //             availableTags: ['php', 'ruby', 'react', 'reactNative', 'laravel']
                  //         });
                  //     }); 
              </script> %>
          <%# <script type="text/javascript">
              $(document).ready(function() {
                  $("#myTags").tagit();
              });
          </script> %>
        </div>

        

        <div class="post-form">
          <div class="weight-bold-text">
            感想
          </div>
          <%=f.text_area :impressions, class:"post-text", id:"post-impressions", placeholder: "感想を書く"%>   
        </div>

        <div class="newpost-btn-contents">
          <%=f.submit "送信", class: "btn btn-primary btn-lg btn-sm", id:"new-post-btn" %>
        </div>

      <% end %>