<header class='top-page-header'>
  <div class='nav'>
    <%# <%=render "layouts/flash" %> %>
    <%# <%=render "layouts/error_messages",model: f.object %> %>
      <h1 class="header-title"><a href="/">PowerSpot</a></h1>
        <div class='search-bar-contents'>
          <%# <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %> %>
          <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |f| %>
            <%= f.text_field :keyword, class: "search-input", placeholder: 'キーワードから探す' %>
            <button class="search-button">
              <%= image_tag "search.png", size: "20", class:"search-icon" %>
            </button>
          <% end %>
        </div>
        <div class="header__bar row">
          <%if user_signed_in?%>
            <div class="user_nav">
              <%= link_to current_user.nickname, user_path(current_user.id), method: :get, class: "user-nickname" %>
              <%= link_to "マイページ", user_path(current_user.id), method: :get, class: "mypage" %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
              <%=link_to "投稿する", new_post_path, class: "post"%>
            </div>
          <%else%>
            <div class="header-title">
              <%= link_to "ログイン", new_user_session_path, class: "post" %>
              <%= link_to "新規登録", new_user_registration_path, class: "post"%>
            </div>
          <%end%>
        </div>
  </div>
</header>