<li class="list">
    <%# ↓詳細画面へ飛ぶ記述、post_path(post.id)はルーティングの設定で出現 %>
      <%= link_to post_path(post.id), method: :get do %>
        <div class='post-img-content'>
          <%= image_tag post.image, class: 'post-img' if post.image.attached?%>
        </div>
      <%end%>

        <div class='post-info'>
          <h6 class='post-info-contents'>
            <%= link_to post.name, post_path(post.id), class: "text-decoration-none"%>
          </h6>

          <div class = 'post-info-contents'>
            <%= link_to post.user.nickname, user_path(post.user), class: "text-decoration-none"%>
          </div>
          
          <%# お気に入りスポットタグ表示 %>
          <div class='post-info-contents'>
            <% post.tag_list.each do |tag| %>
              <span class="label label-primary">
                <%= link_to tag, posts_path(tag_name: tag), class: "badge badge-light p-2 mr-1" %>
              </span>
            <% end %>
          </div>
          <%# お気に入りスポットタグ表示 %>
        </div>
    </li>