<%=render partial: 'posts/header' %>

<div class="posts-edit-main">
  <div class="container">
    <h3 class="post-title">記録情報の入力</h3>

    <div class="post-forms">
      <%= form_with model:@post, url:post_path, method: :patch, local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
    
        <%# 画像 %>
        <div class="img-upload">
          <div class="weight-bold-text">
            写真
          </div>
            <%= f.file_field :image, id:"post-image" %>
        </div>
        <%# 画像 %>

        <%# 名前と記録情報 %>
        <div class="post-form">
          <div class="weight-bold-text">
            名前
          </div>
            <%= f.text_field :name, class:"post-text", id:"post-name", placeholder:"名前（必須 20文字まで)", maxlength:"20" %>
        </div>
        
        <div class="post-form">
          <div class="weight-bold-text">
            URL
              <%# <span class="indispensable">必須</span> %>
          </div>
            <%= f.text_area :url, class:"post-text", id:"post-url", placeholder:"url"%>
        </div>

        <div class="post-form">
          <div class="weight-bold-text">
            感想
          </div>
            <%= f.text_area :impressions, class:"post-text", id:"post-impressions", size: "100x10", maxlength: "1000", placeholder: "感想を書く"%>
        </div>
        <%# 下部ボタン %>
        <div class="update-btn-contents">
          <%= f.submit "変更する" ,class: "btn btn-outline-primary btn-lg btn-sm", id:"edit-post-btn" %>
          <%=link_to 'もどる', post_path, method: :get, class: "btn btn-outline-primary btn-lg btn-sm", id:"back-btn" %>
        </div>
        <%# /下部ボタン %>
      <% end %>
    </div>
    <div>
  </div>
</div>

<%= render partial: 'posts/footer'%>