<%=render partial: 'posts/header' %>

<div class="post-contents-wrapper">
  <div class="container">
    <h3 class="post-title">思い出を投稿する</h3>

    <div class="post-forms">
      <%= form_with model: @post, url:posts_path,local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

        <div class="img-upload">
          <div class="weight-bold-text">
              画像
            </div>
          <%=f.file_field :image, class:"post-text",id:"post-image" %>
        </div>

        <div class="post-form">
          <div class="weight-bold-text">
            名前
          </div>
          <%=f.text_field :name, class:"post-text", id:"post-name", placeholder: "名前を入れてください",maxlength: "20"%>   
        </div>

        <div class="post-form">
          <div class="weight-bold-text">
            場所
          </div>
          <%=f.collection_select(:prefecture_id,Prefecture.all, :id,:name, {}, {class:"post-text",id:"post-prefecture"}) %>   
        </div>

        <%# API参照記事 %>
        <div class="post-form">
          <div class="weight-bold-text">
            Google Map
          </div>
          <%=f.text_field :address, class:"post-text", id:"post-address", placeholder: "Google Mapの住所をコピーして貼り付けてください" %>   
        </div>
        <%# API参照記事 %>

        <div class="post-form">
          <div class="weight-bold-text">
            参考url
          </div>
          <%=f.text_area :url, class:"post-text",id:"post-url",placeholder: "urlを入れてください"%>   
        </div>

        <div class="post-form">
          <div class="weight-bold-text">
            感想
          </div>
          <%=f.text_area :impressions, class:"post-text", id:"post-impressions", placeholder: "感想を書く"%>   
        </div>

        <div class="newpost-btn-contents">
          <%=f.submit "送信", class: "btn btn-primary btn-lg btn-sm", id:"new-post-btn" %>
        </div>

      <% end %>

      <div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
let map
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7828, lng:-73.9653},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}
// ここから追加 
let geocoder

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}
// ここまで追加 
</script>
<%# <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZSksW-zSB4rfLiVixRf911AMPx3rGL6I"></script> %>
  <%# <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZSksW-zSB4rfLiVixRf911AMPx3rGL6I&callback=initMap" async defer></script> %>
    </div>
  </div>
</div>
<%= render partial: 'posts/footer'%>