<%=render partial: 'posts/header' %>

<div class="post-contents-wrapper">
  <div class="container">
   <h3 class="do-post">投稿する</h3>

   <div class="new-post-box">
     <%= form_with model: @post, url:posts_path,local: true do |f| %>
     <%= render 'layouts/error_messages', model: f.object %>
       <div class="post-text">
         <%=f.file_field :image, id:"post-image" %>
       </div>
       <div class="post-text">
         <%=f.text_field :name, id:"post-name", placeholder: "名前を入れてください",maxlength: "30"%>   
       </div>
       <div class="post-text">
         <%=f.text_area :url, id:"post-url",placeholder: "urlを入れてください"%>   
       </div>
       <div class="post-text">
         <%=f.text_area :impressions, id:"post-impressions", size: "100x10", maxlength: "1000", placeholder: "感想を書く"%>   
       </div>
       <div class="post-text">
         <%=f.submit "SEND", class: "btn btn-primary btn-lg btn-sm", id:"new-post-btn" %>
       </div>
     <% end %>
   </div>
  </div>
</div>
<%= render partial: 'posts/footer'%>