<%# 記録の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @post.name %>
    </h2>
    <div class='post-img-content'>
      <%= image_tag @post.image ,class:"post-box-img" %>
    </div>

    <%# ログインしているユーザと出品しているユーザが同一人物である時、商品の編集と削除を表示にしましょう%>
    <% if user_signed_in? && current_user.id == @post.user_id %>
      <%= link_to '編集', edit_post_path, method: :get, class: "post-red-btn" %>
      <%# <p class='or-text'>or</p> %>
      <%= link_to '削除', post_path(@post.id), method: :delete, class:'post-destroy' %>
    <% end %>
    
    <%# // ログインしているユーザと出品しているユーザが同一人物である時、商品の編集と削除を表示にしましょう %>

    <%# <div class="post-explain-box"> %>
      <%# <span><%= @post.text %></span> %>
    <%# </div> %>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-post">記録者</th>
          <td class="detail-value"><%= @post.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-post">URL</th>
          <td class="detail-value"><%= @post.url %></td>
        </tr>
        <tr>
          <th class="detail-post">感想</th>
          <td class="detail-value"><%= @post.impressions %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%# <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%> %>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%# <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%> %>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <%if current_user%>
      <%=form_with(model: [@post, @comment],local: true) do |f|%>
        <%=f.text_area :comment,placeholder: "コメントする", rows:"5", maxlength:"300"%>
        <%=f.submit "SEND"%>
        <%end%>
    <%else%>
      <strong><p>※コメントの投稿には新規登録/ログインが必要です※</p></strong>
    <%end%>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <%# <button type="submit" class="comment-btn"> %>
        <%# <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%> %>
        <%# <span>コメントする<span> %>
      <%# </button> %>
      <div class="comments">
        <h4>＜コメント一覧＞</h4>
          <% if @comments%>
            <% @comments.each do |comment|%>
              <p>
                <strong><%= link_to comment.user.nickname,"/users/#{comment.user_id}"%>:</strong>
                <%= comment.comment%>
              </p>
            <% end %>
          <% end %>
      </div>
  </div>
