<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>PowerSpot</title>
    <%# Railsアプリ外部からの不正アクセスに対処するためのHTMLタグ %>
    <%= csrf_meta_tags %>

    <%# コンテンツセキュリティポリシー %>
    <%= csp_meta_tag %>

    <!-- css -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <!-- javascript -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

     <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <%# jqueryを直接ビューに直接あてがう記述 %>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js">integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"</script>

    <%# Google map api %>
    <script src="//maps.google.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY']%>"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

    <%# jqueryでuiを整える時に使う？ %>
    <%# <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
